p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.card-body{
    background-image: url("https://as.com/meristation/imagenes/2019/11/11/betech/1573497171_487815_1573497337_sumario_grande.jpg");
}

.card-header{
    background-color: rgba(52, 54, 58, 0.712);
}